.Contact {
  background-color: #f5f5f5;
  color: rgb(75, 68, 68);
  font-family: Arial, Helvetica, sans-serif;
  padding: 70px 20px 0 150px;
  line-height: 1.7;
}

.form {
  display: block;
  margin-bottom: 10px;
}
.Footer {
  text-align: center;
  opacity: 0.5;
  margin: 0%;
  padding: 0%;
  background-color: #222424;
  color: white;
}
.Icons {
  padding-top: 20px;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .Contact {
    padding: 50px;
    text-align: center;
    width: 90%;
  }
  .Footer{
    width: 110%;
  }
}
